{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="header-login  h-100 ">
    <div class="container">
        <div class="row padding-200 px-3">
            <div class="col-lg-8 mx-auto  shadow rounded-2 rounded-pill-login mb-5 rounded-4">
                <div class="col-md-8 mx-auto ">
                    <h1 class=" fw-light mt-5 mb-5 text-white">Me connecter !</h1>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <label for="username" class="text-white">Email</label>
                        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control rounded-pill" autocomplete="email" required autofocus>
                        <label for="password" class="text-white">Password</label>
                        <input type="password" name="_password" id="password" class="form-control rounded-pill" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                        #}

                        <div class="mt-2 text-end">
                            <button class="btn rounded-pill bg-orange float-end" type="submit" id="myButton"> <!-- Utilisez la classe "float-end" pour le bouton -->
                                Me connecter
                            </button>
                        </div>
                        <div class="py-5">
                            <a href="{{ path('app_forgot_password_request') }}" class="text-decoration-none text-white password">Mot de passe oublié ?</a> <br>
                            <a href="{{ path('app_register') }}" class="text-decoration-none text-white password">Vous n'avez pas de compte? Veuillez vous inscrire</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}
