<header>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand fw-bold" href="{{ path("app_home") }}">
                <img src="{{asset("images/logo.png")}}" class="img-fluid"  width="200" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("app_contact") }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_recette') }}">Nos recettes</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#8" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Recette par Provinces
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for province in provinces %}
                                <a class="dropdown-item" href="{{ path("app_province", {slug: province.slug}) }}">{{ province.libelle }}</a>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
                <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if app.user %}
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ app.user.nom ?? 'unknown' }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('app_profile') }}">Mon compte</a>
                                <a class="dropdown-item" href="{{ path('app_forgot_password_request') }}">Changer mot de passe</a>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Me déconnecter</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="nav-item mb-2 mb-sm-2"> <!-- Utilisation de la classe mb-2 pour la marge basique et mb-sm-0 pour annuler la marge basique sur les écrans de petite taille -->
                            <a class="nav-link btn rounded-pill me-2" href="{{ path('app_register') }}">S'inscrire</a>
                        </div>
                        <div class="nav-item mb-2 mb-sm-0"> <!-- Utilisation de la classe mb-2 pour la marge basique et mb-sm-0 pour annuler la marge basique sur les écrans de petite taille -->
                            <a class="nav-link btn rounded-pill" href="{{ path('app_login') }}">Se connecter</a>
                        </div>


                    {% endif %}
                </div>
            </div>
        </div>

    </nav>

</header>
