{% extends 'base.html.twig' %}

{% block title %}Recette index{% endblock %}

{% block body %}
    <h1>Recette index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>Slug</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Photo</th>
                <th>Videos</th>
                <th>IsPublic</th>
                <th>TempsPreparation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>
                <td>{{ recette.id }}</td>
                <td>{{ recette.libelle }}</td>
                <td>{{ recette.description }}</td>
                <td>{{ recette.slug }}</td>
                <td>{{ recette.createdAt ? recette.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ recette.updatedAt ? recette.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ recette.photo }}</td>
                <td>{{ recette.videos }}</td>
                <td>{{ recette.isPublic ? 'Yes' : 'No' }}</td>
                <td>{{ recette.tempsPreparation ? recette.tempsPreparation|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_recette_show', {'id': recette.id}) }}">show</a>
                    <a href="{{ path('app_recette_edit', {'id': recette.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recette_new') }}">Create new</a>
{% endblock %}
