{% extends 'base.html.twig' %}

{% block title %}Mes Recettes - Malewapp{% endblock %}

{% block body %}
    <div class=" container-fluid padding-50 bg-addRecette">
        <div class=" container  justify-content-center align-item-center ">
            <div class="row  p-5  text-white rounded-pill-login rounded-5">
                <h1> Mes recettes</h1>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success mt-4">{{ message }}</div>
                {% endfor %}
                <div class="col-md-3 pb-1"> <a href="{{path('app_recette_new')}}" class=" fw-lighter btn  me-1 rounded-pill"  id="myButton">Ajouter une recette </a></div>

                {% for recette in recettes %}

                    <div class="row rounded-show rounded-4 py-2 my-2">
                        <div class="col-12 col-md-5">
                            {% if recette.photo %}
                                <img src="uploads/{{ (recette.photo)}}" alt="{{recette.libelle  }}" class="card-img-top rounded-2">
                            {% endif %}
                            {% if recette.videos %}
                                <video src="uploads/{{ (recette.videos)}}" class="card-img-top rounded-2"  controls allowfullscreen></video>
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-7">
                            <a href="" class="nav-link fw-bolder">tesr</h5></a>
                            <p class ="fw-lighter"> {{recette.description}}</p>
                            <p class ="fw-lighter"> {{recette.createdAt | date("d/m/Y H:i")}}</p>

                            <div class="col-md-3 pb-1">
                                {% if recette.videos %}
                                    <a href="{{path("app_modifier_video",{id: recette.id}) }}"  class ="fw-lighter me-1 btn btn-dark rounded-pill">Modifier</a>
                                {% else %}
                                    <a href="{{path("app_recette_edit",{id: recette.id}) }}"  class ="fw-lighter me-1 btn btn-dark rounded-pill">Modifier</a>
                                {% endif %}
                            </div>
                            <div class="col-md-3 pb-1">        <!-- Button trigger modal -->
                                {{ include('recette/_delete_form.html.twig') }}
                            </div>
                        </div>


                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}