{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
    <h1>Recette</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recette.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ recette.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ recette.description }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ recette.slug }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ recette.createdAt ? recette.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ recette.updatedAt ? recette.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ recette.photo }}</td>
            </tr>
            <tr>
                <th>Videos</th>
                <td>{{ recette.videos }}</td>
            </tr>
            <tr>
                <th>IsPublic</th>
                <td>{{ recette.isPublic ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>TempsPreparation</th>
                <td>{{ recette.tempsPreparation ? recette.tempsPreparation|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recette_index') }}">back to list</a>

    <a href="{{ path('app_recette_edit', {'id': recette.id}) }}">edit</a>

    {{ include('recette/_delete_form.html.twig') }}
{% endblock %}
